body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882f6;
    font-size: 20px;
    color: #f9faf8;
    font-weight: 600;
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 0 100px 0;
    gap: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 900px;
    flex-basis: 1;
}


.main, .main a {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.main h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    align-items: center;
    gap: 100px;
}

.hero-content {
    width: 400px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

 .hero-image img {
    width: 400px;
 }

.logo a {
    font-size: 24px;
    color: #f9faf8;
}
.information {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 36px;
    padding: 48px 0px 72px;
}

.characters {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 36px;
}

.character {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
}

.character img {
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 150px 0;

}
.quote-speaker {
    font-style: normal;
    font-weight: 700;
}

.quote-container {
    width: 1200px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.quote-speaker {
    align-self: flex-end;
}

.cta {
    color: #f9faf8;
    margin: 0;
    padding: 100px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cta-block {
    background-color: #3882f6;
    width: 800px;
    border-radius: 15px;
    padding: 48px 100px;
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.cta button {
    border: 3px solid #f9faf8;
    border-radius: 10px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 24px;
}